.gifBoxWrapper {
  width: 612px;
  min-height: 310px;
  background: #17283D;
  border: 1px solid rgba(119, 212, 245, 0.6);
  border-radius: 4px;
  position: relative;
}
.gifBoxWrapper p {
  margin: 5px 0;
}
.gifBoxWrapper .gifpart {
  position: absolute;
  top: 24px;
  float: left;
  width: 50%;
  text-align: center;
}
.gifBoxWrapper .gifpartRight {
  width: 50%;
  font-size: 12px;
  color: #C8E7F2;
  letter-spacing: 0;
  position: absolute;
  top: 40px;
  right: 5px;
  overflow: auto;
  height: 87%;
}
.gifBoxWrapper .gifpartRight .none-realtive-data {
  font-size: 16px;
  text-align: center;
  line-height: 44px;
}
.gifBoxWrapper .table-part-item {
  width: 286px;
  background: rgba(119, 212, 245, 0.1);
  margin-bottom: 5px;
}
.gifBoxWrapper .table-part-item > i {
  display: inline-block;
  width: 46px;
  height: 46px;
  text-align: center;
  color: #2bd2b8;
  font-size: 20px;
  position: relative;
  top: 8px;
}
.gifBoxWrapper .table-part-item > div {
  display: inline-block;
  transform: translate(0%, 20%);
}
.gifBoxWrapper .icon-div {
  transform: translate(50%, 50%);
}
.gifBoxWrapper .gifpart-text {
  font-family: MicrosoftYaHei;
  font-size: 14px;
  color: #C8E7F2;
  letter-spacing: 0;
}
.cameraBoxWrapper {
  width: 610px;
  min-height: 246px;
  background: #17283D;
  border: 1px solid rgba(119, 212, 245, 0.6);
  border-radius: 4px;
  position: relative;
}
.cameraBoxWrapper p {
  margin: 5px 0;
}
.cameraBoxWrapper .gifpart {
  position: absolute;
  top: 24px;
  float: left;
  width: 50%;
  text-align: center;
}
.cameraBoxWrapper .gifpartRight {
  width: 50%;
  font-size: 12px;
  color: #C8E7F2;
  letter-spacing: 0;
  position: absolute;
  top: 40px;
  right: 5px;
  overflow: auto;
  height: 80%;
}
.cameraBoxWrapper .gifpartRight .none-realtive-data {
  font-size: 16px;
  text-align: center;
  line-height: 44px;
}
.cameraBoxWrapper .table-part-item {
  width: 286px;
  background: rgba(119, 212, 245, 0.1);
  margin-bottom: 5px;
}
.cameraBoxWrapper .table-part-item > i {
  display: inline-block;
  width: 46px;
  height: 46px;
  text-align: center;
  color: #2bd2b8;
  font-size: 20px;
  position: relative;
  top: 8px;
}
.cameraBoxWrapper .table-part-item > div {
  display: inline-block;
  transform: translate(0%, 20%);
}
.cameraBoxWrapper .icon-div {
  transform: translate(50%, 50%);
}
.cameraBoxWrapper .gifpart-text {
  font-family: MicrosoftYaHei;
  font-size: 14px;
  color: #C8E7F2;
  letter-spacing: 0;
}
.liGanWrapper {
  width: 573px;
  min-height: 373px;
  background: #17283D;
  border: 1px solid rgba(119, 212, 245, 0.6);
  border-radius: 4px;
  position: relative;
}
.liGanWrapper p {
  margin: 5px 0;
}
.liGanWrapper .gifpart {
  position: absolute;
  top: 24px;
  float: left;
  width: 50%;
  text-align: center;
}
.liGanWrapper .gifpartRight {
  width: 50%;
  font-size: 12px;
  color: #C8E7F2;
  letter-spacing: 0;
  position: absolute;
  top: 40px;
  right: 22px;
  overflow: auto;
  height: 87%;
}
.liGanWrapper .gifpartRight .none-realtive-data {
  font-size: 16px;
  text-align: center;
  line-height: 44px;
}
.liGanWrapper .table-part-item {
  width: 286px;
  background: rgba(119, 212, 245, 0.1);
  padding: 4px;
  box-sizing: border-box;
  margin-bottom: 5px;
}
.liGanWrapper .table-part-item table {
  width: 100%;
}
.liGanWrapper .table-part-item table tr {
  height: 20px;
}
.liGanWrapper .table-part-item table tr td:first-child {
  width: 20px;
  text-align: center;
}
.liGanWrapper .table-part-item table tr td:last-child {
  text-align: center;
}
.liGanWrapper .table-part-item table tr .normalCamera {
  color: #2bd2b8;
}
.liGanWrapper .table-part-item table tr .errorCamera {
  color: #f33018;
}
.liGanWrapper .table-part-item > i {
  display: inline-block;
  width: 46px;
  height: 46px;
  text-align: center;
  color: #2bd2b8;
  font-size: 20px;
}
.liGanWrapper .table-part-item > div {
  display: inline-block;
  transform: translate(0%, 20%);
}
.liGanWrapper .icon-div {
  transform: translate(50%, 50%);
}
.liGanWrapper .gifpart-text {
  font-family: MicrosoftYaHei;
  font-size: 14px;
  color: #C8E7F2;
  letter-spacing: 0;
}
.assetBoxWrapper {
  width: 573px;
  min-height: 370px;
  background: #17283D;
  border: 1px solid rgba(119, 212, 245, 0.6);
  border-radius: 4px;
  position: relative;
}
.assetBoxWrapper p {
  margin: 5px 0;
}
.assetBoxWrapper .gifpart {
  position: absolute;
  top: 24px;
  float: left;
  width: 50%;
  text-align: center;
}
.assetBoxWrapper .gifpartRight {
  width: 50%;
  font-size: 12px;
  color: #C8E7F2;
  letter-spacing: 0;
  position: absolute;
  top: 40px;
  right: 22px;
  overflow: auto;
  height: 88%;
}
.assetBoxWrapper .gifpartRight .none-realtive-data {
  font-size: 16px;
  text-align: center;
  line-height: 44px;
}
.assetBoxWrapper .table-part-item {
  width: 286px;
  background: rgba(119, 212, 245, 0.1);
  padding: 4px;
  box-sizing: border-box;
  margin-bottom: 5px;
}
.assetBoxWrapper .table-part-item table {
  width: 100%;
}
.assetBoxWrapper .table-part-item table tr {
  height: 20px;
}
.assetBoxWrapper .table-part-item table tr td:first-child {
  width: 20px;
  text-align: center;
}
.assetBoxWrapper .table-part-item table tr td:last-child {
  text-align: center;
}
.assetBoxWrapper .table-part-item table tr .normalCamera {
  color: #2bd2b8;
}
.assetBoxWrapper .table-part-item table tr .errorCamera {
  color: #f33018;
}
.assetBoxWrapper .table-part-item > i {
  display: inline-block;
  width: 46px;
  height: 46px;
  text-align: center;
  color: #2bd2b8;
  font-size: 20px;
}
.assetBoxWrapper .table-part-item > div {
  display: inline-block;
  transform: translate(0%, 20%);
}
.assetBoxWrapper .icon-div {
  transform: translate(50%, 50%);
}
.assetBoxWrapper .gifpart-text {
  font-family: MicrosoftYaHei;
  font-size: 14px;
  color: #C8E7F2;
  letter-spacing: 0;
}
.BMap_contextMenu {
  width: 0!important;
  height: 0!important;
  background: transparent !important;
  border-top: 1px solid transparent !important;
  border-left: 1px solid transparent !important;
  border-right: 1px solid transparent !important;
  border-bottom: 1px solid transparent !important;
}
.BMap_contextMenu div:nth-child(1) {
  margin: 0!important;
  padding: 0!important;
}
/*# sourceMappingURL=clickBox.css.map */