#app {
  height: 100%;
  width: 100%;
}
#map_demo {
  height: 100%;
  width: 100%;
}
.status {
  position: absolute;
  top: 20px;
  left: 50px;
  z-index: 99;
  height: 28px;
  background: rgba(119, 212, 245, 0.2);
}
.status > li {
  width: 120px;
  float: left;
  padding: 6px 20px;
  color: rgba(200, 231, 242, 0.6);
  cursor: pointer;
  text-align: center;
}
.status > .active {
  color: #c8e7f2 !important;
  background: rgba(119, 212, 245, 0.3);
  border-radius: 2px;
}
.infobox-wind {
  margin: 10px;
  background-color: rgba(48, 112, 139, 0.92);
  border-radius: 4px;
  width: auto;
  box-sizing: border-box;
  padding-bottom: 10px;
  color: #c8e7f2;
}
.infobox-wind > .infobox-wind-head {
  height: 28px;
  line-height: 28px;
  background-color: #1b5168;
  padding-left: 10px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.infobox-wind > .infobox-wind-content {
  padding-top: 10px;
  display: table;
}
.infobox-wind > .infobox-wind-content .infobox-wind-item {
  display: table-row;
  line-height: 28px;
  height: 28px;
}
.infobox-wind > .infobox-wind-content .infobox-wind-item span:first-child {
  padding-left: 10px;
  text-align: right;
  width: 70px;
  display: inline-block;
}
.infobox-wind > .infobox-wind-content .infobox-wind-item span.label-inner {
  padding-left: 6px;
  padding-right: 10px;
}
.BMap_contextMenu div:nth-child(1) {
  margin: 0 !important;
  padding: 0 !important;
}
.BMap_contextMenu {
  width: 0 !important;
  height: 0 !important;
}
.param-value {
  display: inline-block;
  width: calc(100% - 75px);
}
.border-top-left-radius {
  border-top-left-radius: 5px !important;
  display: none !important;
}
.border-top-left-radius div:nth-child(1) {
  display: none !important;
  background-color: rgba(6, 6, 6, 0.6) !important;
}
.border-top-right-radius {
  display: none !important;
  border-top-right-radius: 5px !important;
}
.border-top-right-radius div:nth-child(1) {
  background-color: rgba(6, 6, 6, 0.6) !important;
}
.border-bottom-left-radius {
  display: none !important;
  border-bottom-left-radius: 5px !important;
}
.border-bottom-left-radius div:nth-child(1) {
  background-color: rgba(6, 6, 6, 0.6) !important;
}
.border-bottom-right-radius {
  display: none !important;
  border-bottom-right-radius: 5px !important;
}
.BMap_shadow {
  display: none !important;
}
.BMap_custom {
  background: black !important;
  border-color: black !important;
}
.BMap_pop .BMap_top,
.BMap_pop .BMap_bottom,
.BMap_pop .BMap_center,
.BMap_pop [style*="1px solid #ababab"] {
  border-top: 0 !important;
  display: none !important;
  background-color: rgba(6, 6, 6, 0.6) !important;
}
.thumbnail-band {
  overflow: visible !important;
}
.thumbnail-title {
  font-size: 14px;
  position: relative;
  top: -8px;
}
.thumbnail-pic {
  width: 280px;
  cursor: pointer;
  display: block;
}
.none-thumbnail {
  text-align: center;
  font-size: 14px;
  display: none;
}
.BMap_pop {
  color: #fff !important;
}
.sanjiao {
  margin-left: -5px !important;
  margin-top: -4px !important;
  height: 55px !important;
  z-index: 10000 !important;
}
.sanjiao + div {
  top: 42px!important;
}
.BMap_pop .BMap_bottom {
  border-bottom: 0 !important;
}
.BMap_pop {
  margin: -15px 0 0 -10px;
}
.sanjiao::before {
  display: inline-block;
  left: 7px;
  bottom: 9px;
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background: #17283D;
  transform: rotate(-45deg);
  border: 1px solid rgba(119, 212, 245, 0.6);
  border-top: none;
  border-right: none;
}
.infobox-wind {
  font-size: 14px;
  width: 250px;
}
.infobox-wind table tr td {
  padding: 0 10px;
  vertical-align: top;
}
.infobox-wind table tr td:first-child {
  text-align: right;
  white-space: nowrap;
}
.sanjiao img {
  display: none;
}
.BMap_Marker img {
  cursor: pointer;
  transition: all 0.6s;
  display: block;
}
/*# sourceMappingURL=index.css.map */